
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Questrial&display=swap');
@font-face {
    font-family: 'icomoon';
    src:  url('../icons/');
    src:  url('../icons/#iefix') format('embedded-opentype'),
      url('../icons/icomoon.ttf?jxvjcb') format('truetype'),
      url('../icons/icomoon.woff?jxvjcb') format('woff'),
      url('../icons/icomoon.svg?jxvjcb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before {
    content: "\e986";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-stop2:before {
    content: "\ea1e";
  }
  .icon-google-plus:before {
    content: "\ea8b";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-dribbble:before {
    content: "\eaa7";
  }
  
/*font-family: 'Montserrat', sans-serif;
font-family: 'Questrial', sans-serif;*/

/* ========= mixins ========= */


@mixin xl {
    @media (max-width: 1200px) {
        @content;
    }
  
}

@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
  
}

@mixin md2 {
    @media (max-width: 767px) {
        @content;
    }
  
}

@mixin sm {
    @media (max-width: 576px) {
        @content;
    }
  
}

@mixin media ($ancho) {
    @media (max-width: $ancho) {
      @content;
    }
  }
  @mixin mediaAlto ($alto) {
    @media (max-height: $alto) {
      @content;
    }
  }
  @mixin mediaMin ($ancho2) {
    @media (min-width: $ancho2) {
      @content;
    }
  }

$ques: 'Questrial', sans-serif;
$pink: #fe667f;

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    &.no-scroll{
        overflow: hidden;
    }
}

.container{
    margin: 0 auto;
    &-banner{
        width: 100%;
        height: 500px;
        background-color: $pink;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
}
a{
    text-decoration: none;
    color:#000;
}
// var


//header
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    height: 100px;
    margin: auto;
    @include xl{
        width: 90%;
    }
}
.header{
    &-btnSearch{
        width: 34px;
        height: 34px;
        color: #fe667f;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        cursor: pointer ;
        &:hover{
            background-color: $pink;
            color: #fff;
        }
    }
    &-col{
        display: flex;
        align-items: center;
    }
    &-navMob{
        width: 34px;
        height: 34px;
        position: relative;
        border: none;
        display: none;
        font-size: 18px;
        color: $pink;
        background: none;
        @include md2{
            display: block;
        }
    }
}
nav{
    display: flex;
    align-items: center;
    transition: .3s;
    transition-timing-function: cubic-bezier(0,.84,0,1);
    @include md2{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 10;
        transform: translateX(-100%);
    }
    &.active{
        @include md2{
            transform: translateX(0%);
        }
    }
    .btn-main{
        @include md2{
            font-size: 24px;
            padding: 15px 20px;
        }
    }
}


// mansonry grid
.mansonry{
    &-wrap{
        width: 1170px;
        margin: auto;
        column-count: 3;
        column-gap: 10px;
        @include xl{
            width: 90%;
        }
        @include md{
            column-count: 2;
        }
        @include sm {
            column-count: 1;
        }
    }
    &-wImg{
        display: inline-block;
        width: calc(100% - 20px);
        padding: 10px;
        background: #f6f6f6;
        margin-bottom: 10px;
        img{
            max-width: 100%;
            display: block;
        }
    }
    &-wrapBtn{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-flow: row;
        width: 90%;

        margin: 0 auto 70px;
    }
    &-wrapLay{
        width: 50px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        margin: 25px auto;
        a{
            color: $pink;
            width: 20px;
            height: 20px;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    }
}
// banner
.banner{
    &-tit{
        margin: 0 0 50px 0;
        font-size: 40px;
        letter-spacing: 5px;
        font-weight: 700;
        text-align: center;
    }
    &-txt{
        margin: 0 0 50px 0;
        font-family: $ques;
        max-width: 580px;
        text-align: center;
    }
    &-btn{
        background-color: #fff;
        color: $pink ;
        padding: 12px 30px;
        border: none;
        font-size: 10px;
    }
}

// botones 
.btn{
    &-main{
        padding: 10px 20px;
        color: #707070;
        font-family: 'Questrial', sans-serif;
        font-size: 14px;
        transition: .3s;
        display: block;
        &:hover{
            color: #fff;
            background-color: $pink; 
        }
        &--more{
            background-color: $pink;
            color: #fff;
            display: block;
            width: 100px;
            margin: auto;
            text-align: center;
        }
        &.active{
            color: #fff;
            background-color: $pink; 
        }
        @include sm {
            padding: 10px 14px;
        }
    }
    &-close{
        display: none;
        position: absolute;
        z-index: 11;
        top: 40px;
        right: 35px;
        color: #707070;
        font-family: $ques;
        font-size: 22px;
        @include md2{
            display: block;
        }
    }
}

//footer

footer{
    text-align: center;
    font-size: 13px;
    color: #c2cfd7;
    p{
        margin: 35px 0;
        b{
            color: $pink;
            font-weight: normal;
        }
    }
}
.footer{
    &-social{
        margin: 0 0 70px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: #c2cfd7;
            transition: .3s;
            margin: 0 7px;
            font-size: 12px;
            line-height: 12px;
            &:hover{
                color: $pink;
            }
            &:nth-child(4){
                font-size: 18px;
            }
            &:nth-child(5){
                font-size: 16px;
            }
        }
    }
    
}